@font-face {
	font-family: '🆒';
	src:
		local('ATNameMonoVariable-Regular'),
		url('https://fonts.tolin.ski/fonts/NameMonoVariable.woff2') format('woff2');
	font-weight: 100 900;
	font-style: normal;
}

@font-face {
	font-family: '🆒';
	src:
		local('ATNameMonoVariable-RegularItalic'),
		url('https://fonts.tolin.ski/fonts/NameMonoItalicVariable.woff2') format('woff2');
	font-weight: 100 900;
	font-style: italic;
}

body {
	--fs-xxxs: clamp(0.51rem, 0.611765vi + 0.36rem, 0.77rem);
	--fs-xxs: clamp(0.64rem, 0.752941vi + 0.45rem, 0.96rem);
	--fs-xs: clamp(0.8rem, 0.941176vi + 0.56rem, 1.2rem);
	--fs-base: clamp(1rem, 1.176471vi + 0.71rem, 1.5rem);
	--fs-s: clamp(1.25rem, 1.482353vi + 0.88rem, 1.88rem);
	--fs-m: clamp(1.56rem, 1.835294vi + 1.1rem, 2.34rem);
	--fs-l: clamp(1.95rem, 2.305882vi + 1.37rem, 2.93rem);
	--fs-xl: clamp(2.44rem, 2.870588vi + 1.72rem, 3.66rem);
	--fs-xxl: clamp(3.05rem, 3.6vi + 2.15rem, 4.58rem);
	--fs-xxxl: clamp(3.81rem, 4.494118vi + 2.69rem, 5.72rem);

	--line-height: calc(2px + 2ex + 2px);

	--pink: #ff25be;
	--teal: #82d8d8;
	--green: #a8fe38;
	--red: #f88070;
	--yellow: #efc05e;
	--dark-purp: #191324;
	--primary: var(--pink);
	--accent: var(--teal);
	--deep: var(--dark-purp);
	--white: #eee;
	--fg: var(--white);
	--bg: var(--deep);
	--black: #111;
	--border-color: var(--fg);
	--highlight-border: 1px solid rgb(255 255 255 / 0.1);
	--input-shadow: inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09),
		0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 1px 1.5px 0 rgba(0, 0, 0, 0.1),
		0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 transparent;
}

.syntax {
	--primary: var(--yellow);
	--accent: var(--yellow);
	--deep: var(--black);
}

body {
	background: var(--bg);
	color: var(--fg);
	font-family: '🆒';
	font-feature-settings: 'ss12';
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-style: italic;
}

.shiki {
	--shiki-dark-bg: #000;
	--shiki-dark: #d6deeb;
	padding: 10px;
	border: 1px solid rgb(255 255 255 / 0.1);
	color: #d6deeb;
	tab-size: 20px;
	overflow: scroll;
	font-size: var(--fs-xs);
	line-height: 1.5;
	border-radius: 10px;
	box-shadow: 4px 3px 10px rgb(0 0 0 / 0.3);
}

code {
	counter-reset: step;
	counter-increment: step calc(var(--line-start, 1) - 1);
}

code > .line:not(:last-child)::before {
	content: counter(step);
	counter-increment: step;
	width: 1rem;
	margin-right: 1.5rem;
	display: inline-block;
	text-align: right;
	color: rgba(115, 138, 148, 0.4);
}

aside nav {
	padding: 10px 0;
}

a {
	color: var(--white);
	text-decoration-color: var(--accent);
	text-decoration-line: underline;
	text-decoration-thickness: 3px;
}

aside nav a {
	padding: 6px 0;
	display: block;
	color: var(--fg);
	text-decoration: none;
}

button {
	border: solid 2px var(--border-color);
	background: transparent;
	color: var(--fg);
	border-radius: 4px;
	font-size: var(--fs-base);
	padding-inline: 20px;
}

select {
	color: var(--fg);
	border-radius: 4px;
	font-size: var(--fs-xs);
	padding: 5px 8px;
	background: rgb(255 255 255 / 0.1);
	border: var(--highlight-border);
	box-shadow: var(--input-shadow);
}

hr {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDEiIGhlaWdodD0iMTQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTIgOC41IDYuMiA0bDcuOCA2IDYuNi01LjU1TDI3LjUgMTBsNC42NS01LjFMMzkuMiAxMCIgc3Ryb2tlPSIjZmYyNWJlIiBzdHJva2Utd2lkdGg9IjMiLz48L3N2Zz4=');
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: contain;
	border: none !important;
	height: 20px;
	margin: 4rem auto;
	width: 75px;
}

.youtube {
	aspect-ratio: 16 / 9;
	border-radius: 10px;
	box-shadow: 4px 3px 10px rgb(0 0 0 / 0.3);
	border: solid 7px rgb(0 0 0 / 0.3);
}

summary {
	font-size: var(--fs-base);
	cursor: pointer;
	padding-block: 1rem;
}

::-moz-selection {
	color: var(--deep);
	background: var(--accent);
}

::selection {
	color: var(--deep);
	background: var(--accent);
}

details {
	padding-inline: 1rem;
	border: var(--highlight-border);
	p:first-child {
		margin-top: 0;
		padding-top: 1rem;
	}
	p:last-child {
		margin-bottom: 0;
		padding-bottom: 1rem;
	}
}

.title {
	font-style: normal;
	margin-top: 0;
	text-transform: uppercase;
}

.mini-title {
	font-size: var(--fs-xxs);
	text-transform: uppercase;
	font-style: normal;
	opacity: 0.6;
}

/* DEMO Specific CSS */

div[popover] {
	padding: 20px;
	border-radius: 10px;
	box-shadow:
		rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px,
		rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px,
		rgba(0, 0, 0, 0.09) 0px -3px 5px;
	border: var(--highlight-border);
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}

.menu-button {
	padding-inline: 20px;
	padding-block: 20px;
}

::placeholder {
	color: rgb(255 255 255 / 0.6);
}

dialog {
	border: none;
	background: var(--fg);
	color: var(--bg);
	border-radius: 10px;
	box-shadow: 4px 3px 10px rgb(0 0 0 / 0.3);
	> *:first-child {
		margin-block-start: 0;
	}
	&[open]::backdrop {
		background: rgba(0, 0, 0, 0.7);
	}
}

dialog form {
	height: 100%;
	color: var(--bg);
}

dialog input {
	width: 100%;
	color: var(--bg);
	background: transparent;
	border: none;
	margin-block-end: 1rem;
	border-bottom: var(--highlight-border);
}

a:focus,
button:focus {
	outline: solid 1px blue;
}

[id^='demo-mobile-nav'],
[id^='demo-drawer'] {
	background: var(--bg);
	color: var(--fg);
}

#demo-modal,
#demo-dialog-waapi,
#demo-dialog-vt,
#demo-dialog-css {
	color: var(--bg);
	background: var(--fg);
	input {
		border: solid 1px var(--bg);
		border-radius: 4px;
		&:focus {
			outline: solid 1px blue;
		}
		&::placeholder {
			color: var(--bg);
			opacity: 0.3;
		}
	}
	button {
		color: var(--fg);
		background: var(--bg);
	}
	button {
		border: solid 1px var(--bg);
		border-radius: 4px;
	}
}

dialog textarea {
	width: 100%;
	padding-top: 1rem;
	background: transparent;
	border: none;
	height: 100%;
}

.menu[popover] {
	background: var(--fg);
	* {
		color: var(--bg);
	}
	ul {
		gap: 0;
	}

	a {
		display: block;
		padding: 10px 40px 10px 20px;
		color: var(--bg);
		text-decoration: unset;
		border-radius: 4px;
		font-size: var(--fs-xs);
		&:hover {
			background: rgb(0 0 0 / 0.1);
		}
	}
}

#demo-mobile-nav,
#demo-mobile-nav-vt,
#demo-mobile-nav-waapi {
	border: none;
	padding-block-start: 2rem;
	box-shadow: -4px 3px 10px rgb(0 0 0 / 0.3);
	&::backdrop {
		background: rgb(0 0 0 / 0.1);
	}
	ul {
		list-style: none;
		li {
			margin-bottom: 1rem;
			font-size: var(--fs-m);
		}
	}

	.demo-button {
		position: absolute;
		top: 1rem;
		right: 1rem;
	}
}
