@font-face {
	font-family: '🆒';
	src:
		local('ATNameMonoVariable-Regular'),
		url('https://fonts.tolin.ski/fonts/NameMonoVariable.woff2') format('woff2');
	font-weight: 100 900;
	font-style: normal;
}

@font-face {
	font-family: '🆒';
	src:
		local('ATNameMonoVariable-RegularItalic'),
		url('https://fonts.tolin.ski/fonts/NameMonoItalicVariable.woff2') format('woff2');
	font-weight: 100 900;
	font-style: italic;
}

:root {
	--pink: #ff25be;
	--teal: #82d8d8;
	--green: #a8fe38;
	--red: #f88070;
	--fg: #eee;
	--bg: #191324;
	--black: #111;
	--border-color: var(--fg);
	--highlight-border: 1px solid rgb(255 255 255 / 0.1);
}

html {
	color-scheme: dark light;
}

body {
	background: var(--bg);
	color: var(--fg);
	font-family: '🆒';
	font-feature-settings: 'ss12';
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-style: italic;
}

.shiki {
	--shiki-dark-bg: #000;
	--shiki-dark: #d6deeb;
	padding: 10px;
	border: 1px solid rgb(255 255 255 / 0.1);
	color: #d6deeb;
	tab-size: 20px;
	overflow: scroll;
	font-size: var(--fs-xs);
	line-height: 1.5;
	border-radius: 10px;
	box-shadow: 4px 3px 10px rgb(0 0 0 / 0.3);
}

code {
	counter-reset: step;
	counter-increment: step calc(var(--line-start, 1) - 1);
}

code > .line:not(:last-child)::before {
	content: counter(step);
	counter-increment: step;
	width: 1rem;
	margin-right: 1.5rem;
	display: inline-block;
	text-align: right;
	color: rgba(115, 138, 148, 0.4);
}

aside nav {
	padding: 10px 0;
}

a {
	color: var(--teal);
	text-decoration-color: var(--pink);
	text-decoration-line: underline;
	text-decoration-thickness: 3px;
}

aside nav a {
	padding: 6px 0;
	display: block;
	color: var(--fg);
	text-decoration: none;
}

button {
	border: solid 2px var(--border-color);
	background: transparent;
	color: var(--fg);
	border-radius: 4px;
	font-size: var(--fs-base);
	padding-inline: 20px;
}

hr {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDEiIGhlaWdodD0iMTQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTIgOC41IDYuMiA0bDcuOCA2IDYuNi01LjU1TDI3LjUgMTBsNC42NS01LjFMMzkuMiAxMCIgc3Ryb2tlPSIjZmYyNWJlIiBzdHJva2Utd2lkdGg9IjMiLz48L3N2Zz4=');
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: contain;
	border: none !important;
	height: 20px;
	margin: 4rem auto;
	width: 75px;
}

.youtube {
	aspect-ratio: 16 / 9;
	border-radius: 10px;
	box-shadow: 4px 3px 10px rgb(0 0 0 / 0.3);
	border: solid 7px rgb(0 0 0 / 0.3);
}

summary {
	font-size: var(--fs-base);
	cursor: pointer;
	padding-block: 1rem;
}

details {
	padding-inline: 1rem;
	border: var(--highlight-border);
}

/* DEMO Specific CSS */

div[popover] {
	padding: 20px;
	border-radius: 10px;
	box-shadow:
		rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px,
		rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px,
		rgba(0, 0, 0, 0.09) 0px -3px 5px;
	border: var(--highlight-border);
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}

.menu-button {
	padding-inline: 20px;
	padding-block: 20px;
}

::placeholder {
	color: rgb(255 255 255 / 0.6);
}
dialog {
	background: var(--black);
}

dialog form {
	height: 100%;
}

dialog input {
	width: 100%;
	background: transparent;
	border: none;
	border-bottom: var(--highlight-border);
}
dialog textarea {
	width: 100%;
	padding-top: 1rem;
	background: transparent;
	border: none;
	height: 100%;
}
