@font-face {
	font-family: '🆒';
	src:
		local('ATNameMonoVariable-Regular'),
		url('https://fonts.tolin.ski/NameMonoVariable.woff2') format('woff2');
	font-weight: 100 900;
	font-style: normal;
}

@font-face {
	font-family: '🆒';
	src:
		local('ATNameMonoVariable-RegularItalic'),
		url('https://fonts.tolin.ski/NameMonoItalicVariable.woff2') format('woff2');
	font-weight: 100 900;
	font-style: italic;
}

:root {
	--pink: #ff25be;
	--teal: #82d8d8;
	--green: #a8fe38;
	--red: #f88070;
	--fg: #eee;
	--bg: #191324;
	--border-color: var(--fg);
}

body {
	background: var(--bg);
	color: var(--fg);
	font-family: '🆒';
	font-feature-settings: 'ss12';
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-style: italic;
}

.shiki {
	--shiki-dark-bg: #011627;
	--shiki-dark: #d6deeb;
	padding: 10px;
	border-radius: 4px;
	background-color: #011627;
	color: #d6deeb;
	tab-size: 20px;
	overflow: scroll;
	font-size: var(--fs-xs);
	line-height: 1.5;
}

aside nav {
	padding: 10px 0;
}

a {
	color: var(--teal);
	text-decoration-color: var(--pink);
	text-decoration-line: underline;
	text-decoration-thickness: 3px;
}

aside nav a {
	padding: 6px 0;
	display: block;
	color: var(--fg);
	text-decoration: none;
}

button {
	border: solid 2px var(--border-color);
	background: transparent;
	color: var(--fg);
	border-radius: 4px;
}

hr {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDEiIGhlaWdodD0iMTQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTIgOC41IDYuMiA0bDcuOCA2IDYuNi01LjU1TDI3LjUgMTBsNC42NS01LjFMMzkuMiAxMCIgc3Ryb2tlPSIjZmYyNWJlIiBzdHJva2Utd2lkdGg9IjMiLz48L3N2Zz4=');
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: contain;
	border: none !important;
	height: 20px;
	margin: 4rem auto;
	width: 75px;
}

.youtube {
	aspect-ratio: 16 / 9;
	border-radius: 10px;
	box-shadow: 4px 3px 10px rgb(0 0 0 / 0.3);
}
